// Primary Colors:
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

// Neutral Colors:
$grayish-blue: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);
$darker-blue: hsl(227, 30%, 12%);
$dark-blue-opacity: hsla(229, 31%, 21%, 0.9);