*{ box-sizing: border-box; }

body, html {
    height: 100%;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

input { border: 0; }
button, input[type='submit'] {
    border: 0;
    background: transparent;
    cursor: pointer;
}

a { text-decoration: none; }

textarea { resize: none; }

@media (min-width: 375px) {
    html { font-size: 16px; }
}

@media (min-width: 768px) {
    html { font-size: 18px; }
}
