.nav-mobile--active {
    visibility: visible;
    opacity: 1;
}


.features__item--selected > span {
    width: 45%;
    height: 3px;
    background-color: $soft-red;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $w-mobile) {
        width: 100%;
    }
}

.features__tab--active { display: flex; }
.features__tab--disable { display: none; }

.questions__anwers--active {
    visibility: visible;
    opacity: 1;
    position: relative;
}
