.header {
    @include container(calc(720px - 2%), flex, 24px);
    justify-content: space-between;
    align-items: center;
}

.nav-mobile-box {
    display: block;
    padding: 0 2%;
}
.nav-desktop { display: none; }

.nav-mobile {
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    background-color: $dark-blue-opacity;
    color: white;
    transition: all ease-out .3s;
}

.nav-mobile__header {
    @include container(720px, flex, 0);
    justify-content: space-between;
    align-items: center;
    
}

.btn-menu-close, .btn-menu-open {
    font-size: 26px;
}

.btn-menu-open { color: $dark-blue; }
.btn-menu-close { color: white; }

.nav-mobile__nav {
    margin-top: 24px;

    .nav__items {
        $color-border-lines: rgba(255, 255, 255, 0.8);
        margin: 0 auto;
        padding: 16px 0;
        @include borderLineTop($color-border-lines);

        &:nth-of-type(3) {
            @include borderLineBottom($color-border-lines);
            margin-bottom: 24px;
        }
    }

    .btn-login {
        $border: 2px solid white;
        @include btn(80%, $border, transparent, white);
    }
}

.nav-mobile__footer {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

    .icons {
        font-size: 26px;
        margin: 0 8px;
    }
}

// Desktop:
@media (min-width: $w-mobile) {
    .header {
        @include container($w-desktop, flex, 24px);
        justify-content: space-between;
        align-items: center;
    }

    .nav-mobile-box {display: none;}
    .nav-desktop {
        padding: 0 2%;
        display: block;

        .nav__items {
            display: inline-block;
            margin: 0 16px;
        }

        .btn-login {
            @include btn(120px, 0, $soft-red, white);
            box-shadow: $box-shadow;
            font-size: 1rem;
        }
    }
}
