.login {
    width: 100%;
    height: 90vh;
    background-color: $soft-blue;
    text-align: center;

    .login__container {
        @include container($w-mobile, flex, 48px);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 24px;
    }

    .login__form {
        width: 100%;
        max-width: 300px;

        .login__form__input {
            width: 100%;
            height: 42px;
            margin: 8px 0;
            display: inline-block;
            border-radius: 12px;
            padding-left: 16px;
        }

        .login__form__submit {
            @include btn(120px, 0, $soft-red, white);
            margin-top: 16px;
        }
    }

    .login__img {
        width: 100%;
        max-width: 250px;
    }
}

@media (min-width: $w-mobile) {
    .login {
        .login__container {
            @include container($w-desktop, flex, 48px);
            justify-content: space-between;
            flex-direction: row;
        }

        .login__form, .login__img { max-width: 400px; }
    }
}

@media (min-width: $w-desktop) {
    .login > .login__img, .login__form { max-width: 600px; }
}