// Margins:
.m-y-48 { margin: 48px 0; }

.m-y-24 { margin: 24px 0; }

.m-auto { margin: auto; }

// Paddings:
.p-y-16 { padding: 16px 0; }

.p-y-24 { padding: 24px 0; }

.p-res-16 { padding: 16px 2%; }

.p-res-24 { padding: 24px 2%; }

.p-res-48 { padding: 48px 2%; }
